<div class="container">
    <div class="card">
        <form>        
            <div class="row">
                <div class="col-6">
                    <label for="nomeEvento" class="form-label">Nome do evento</label>
                    <input type="text" class="form-control" id="nomeEvento"
                        name="titleEvento" disabled="true"/>
                </div>
                <div class="col-6">
                    <label for="cpfConvidado" class="form-label">CPF do convidado</label>
                    <input type="text" class="form-control" id="cpfConvidado" 
                        name="cpfConvidado" />   
                </div>
            </div>
        </form>
    </div>    
</div>